$red: rgba(255, 0, 0, 1);

h1 {
    color: $red
}

.tussi{
    padding: 20px;

    background-color: pink;

    button{
        margin-left: 20px;
    }
}

.mega_counter {
    font-size: 50px;
    color: rgba(200, 240, 20, 0.2);
    padding-top: 100px;
    padding-left: 120px;
}
